<h2><%=l(:label_document_move)%></h2>

<%= labelled_form_for @document, :url => move_document_path, :html => {:id => 'move_document'} do |f| %>

  <div class="box tabular">
    <p><label><%=l(:field_title)%></label><%= @document.title %></p>
    <p><%= label(:document, :project_id, l(:field_project)) %><%= project_select_tag(@project) %></p>
  </div>

  <p><%= submit_tag l(:button_save) %></p>

<% end %>
